<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <label for="LEDCheck1">
            LED 1 status: <input type="checkbox" name="LED1" id=""><br>
        </label>
        <label for="LEDCheck2">
            LED 2 status: <input type="checkbox" name="LED2" id=""><br>
        </label>
        <label for="LEDCheck3">
            LED 3 status: <input type="checkbox" name="LED3" id=""><br>
        </label>        
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='socketHandler.js')}}"></script>
</body>
</html>